{% extends 'mydiary/base.html' %} {% block content %}
{% load static %} 


<section class="section contentlist">
    <div class="inner ">
        <h3>리뷰 자세히 보기</h3>
    </div>
</section>

<section class="section contentlist">
    <div class="content">
    <img src="{{post.image.url}}" alt="" srcset="" class="image">
                    <label class="mt-4" for="title">제목</label>
                    <input type="text" class="form-control" id="title" value="{{post.title}}" readonly/>
                    {% if post.pub_date %}
                    <label class="mt-4" for="date">작성일</label>
                    <input type="text" class="form-control" id="date" value="{{post.pub_date}}" readonly/>
                    {% endif %}
                    <label class="mt-4" for="star">별점</label>
                    <input type="text" class="form-control" id="star" value="{{post.star}}" readonly/>
                    
                    
                    <label class="mt-4" for="highlight">명대사</label>
                    <textarea class="form-control" readonly>{{post.highlight}}</textarea>
                    <label class="mt-4" for="review">내용</label>
                    <textarea class="form-control" id="textarea" readonly>{{post.review}}</textarea>
                
    </div>
</section>

<section class="section contentlist">
    <div class="content mt-4">
        <a href="{% url 'edit' post.pk %}" class="btn btn-primary"> 수정하기 </a> <br>
        <a href="{% url 'deleteensure' post.pk %}" class="btn btn-warning"> 삭제하기 </a> <br>
        <a href="{% url 'home' %}" class="btn btn-default"> 홈으로 돌아가기 </a> <br>
    </div>
</section>


{%endblock %}