{% extends 'mydiary/base.html' %} {% block content %} {% load static %}
<section class="section contentlist">
<h1> 수정하기 </h1>


<form method="POST" class="post-form" enctype="multipart/form-data">

{% csrf_token %} 

{% for field in form %}
<div class="form-group">
{% if field.name == 'review'%} 
  <label for="{{ field.id_for_label }}">리뷰</label>
  {{ field.field.widget.name }}

  <div class="form-class">
  {{field}}
  </div>
  {% elif field.name == 'star'%}
   <label for="{{ field.id_for_label }}">별점(5점 만점)</label>
  {{ field.field.widget.name }}
<div class="form-class">
  {{field}}
  </div>
  {% else %}
   <label for="{{ field.id_for_label }}">명대사</label>
  {{ field.field.widget.name }}
 <div class="form-class">
  {{field}}
  </div>
  {% endif %}

</div>

{%endfor%}

<button type="submit" class="btn btn-primary">수정하기</button>

</form>
        
</section>
{%endblock %}