{% extends 'mydiary/base.html' %}
{% block content %}
{% load static %}

<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-caption home-caption-display">
            <h1 class="pb-3">오히려 좋은 영화 리뷰 사이트</h4>
                <p class="pb-3">6조</p>
                
        </div>
        <div id="home-img1" class="carousel-item home-img-display active">
        </div>
        <div id="home-img2" class="carousel-item home-img-display">
        </div>
        <div id="home-img3" class="carousel-item home-img-display">
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
<section class="section header" style="padding:50px;">
    <div class="inner headtitle">
        <h3>오히려 좋은 리뷰입니다.</h3>
        
        <a href="{% url 'new' %}" class="btn btn-primary">리뷰 작성하기</a>
    </div>
</section>
<div class="contentlist">
            <div class="border-line-s"></div>
</div>


<!-- 게시판 부분 -->

<section class="section" style="padding:30px;">
    <div class=" contentlist" >
            
            {% for post in posts_list %}
           <div class="content">
                <a href="{% url 'detail' post.pk %}"><img src="{{post.image.url}}" alt="" srcset="" class="image"></a>
                <div class="descrip">
                    <a href="{% url 'detail' post.pk %}">
                    <span class="title">{{post.title}}</span>
                    </a>
                    <span class="user">
                    {{post.user}}
                    
                    </span>
                    <span class="user">
                    {{post.pub_date}}
                    </span>
                    <span class="review">
                    {{post.review}}</span>
                </div>
            <div class="border-line"></div>
           </div>
            {%endfor%}
        <a href="{% url 'home' %}" class="btn btn-primary"> 새로고침</a> <br>
    </div>
</section>


{% endblock %}