{% load i18n %} {% load static %}
<!DOCTYPE html>
<html lang="en" class="{%block backgraound_color%} {%endblock backgraound_color %}">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css" />
    <link rel="stylesheet" href="{% static 'css/repository.css'%}" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp" rel="stylesheet">
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.7.2.min.js"></script>
    <script src="{% static 'js/bpop.js' %}"></script>
    <title>URL repo</title>


    <!--favicon 생성 by 샛별-->
    <link rel="apple-touch-icon" sizes="57x57" href="{% static 'image/favicon/apple-icon-57x57.png'%}">
    <link rel="apple-touch-icon" sizes="60x60" href="{% static 'image/favicon/apple-icon-60x60.png' %}">
    <link rel="apple-touch-icon" sizes="72x72" href="{% static 'image/favicon/apple-icon-72x72.png' %}">
    <link rel="apple-touch-icon" sizes="76x76" href="{% static 'image/favicon/apple-icon-76x76.png' %}">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static 'image/favicon/apple-icon-114x114.png' %}">
    <link rel="apple-touch-icon" sizes="120x120" href="{% static 'image/favicon/apple-icon-120x120.png' %}">
    <link rel="apple-touch-icon" sizes="144x144" href="{% static 'image/favicon/apple-icon-144x144.png' %}">
    <link rel="apple-touch-icon" sizes="152x152" href="{% static 'image/favicon/apple-icon-152x152.png' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'image/favicon/apple-icon-180x180.png' %}">
    <link rel="icon" type="image/png" sizes="192x192" href="{% static 'image/favicon/android-icon-192x192.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'image/favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="96x96" href="{% static 'image/favicon/favicon-96x96.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'image/favicon/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'image/favicon/manifest.json' %}">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="{% static 'image/favicon/ms-icon-144x144.png' %}">
    <meta name="theme-color" content="#ffffff">

    <!--썸네일 생성 by 샛별-->
    <meta property="og:url" content="http://chans.pythonanywhere.com/">
    <meta property="og:title" content="URL repo">
    <meta property="og:type" content="website">
    <meta property="og:image" content="{% static 'image/thumbnail.png' %}">
    <meta property="og:description" content="Save URL, Save UR Time">

  </head>

  <body>
    <div id="bpopup1" class="search-popup-div">
      <div class="search-popup-top-div">

        <div class="search-popup-title-div">
          <span class="search-popup-title">
            Search with <br> Repo Title
          </span>
          <div onclick="closePopup();" class="search-popup-exit-div pointer">
            <span class="material-icons-sharp md-40 white"> close
            </span>
          </div>
        </div>
        <div class="search-popup-search-div">
          <form id="search_popup" class="search-popup-search-form" action="" method="GET">

            <input type="text" class="no-input-box search-popup-search-input" placeholder="search repo title"
              name="title" {% if search %} value="{{search}}"" {% endif %}>

            <button class=" material-icons-sharp md-40">
            search
            </button>
          </form>
        </div>
      </div>
      <div class="search-popup-line">
      </div>
      <div class="search-popup-list-div">
        <ul class="search-popup-list-ul">
          {% if not repolist %}
          {% if search %}

          <a>
            <li class="search-popup-list-li">
              <div class="search-popup-list-title-div">
                <span class="search-popup-list-span">검색결과가 없습니다.</span>
              </div>
              <div class="search-popup-list-icon-div">

              </div>
            </li>
          </a>

          {% endif %}
          {% endif %}
          {% for repo in repolist %}
          <a href="{% url 'test:seerepository' repo.pk %}">
            <li class="search-popup-list-li">
              <div class="search-popup-list-title-div">
                <span class="search-popup-list-span">{{repo.title}}</span>
              </div>
              <div class="search-popup-list-icon-div">
                <span class="material-icons-sharp md-40 white">
                  chevron_right
                </span>
              </div>
            </li>
          </a>
          {% endfor %}

        </ul>

      </div>
    </div>
    <header class="header-box">
      <a class="homelogo" href="{% url 'test:home'%}">
        <img class="logo" src="{% static 'image/logo-blue.png' %}" width="210px" alt="home" /></a>
      <div class="header-icons">
        <span id="search_repo" class="material-icons-sharp md-40 search-repo-btn">
          search
        </span>
        {% if user.is_authenticated %}
        <a href="{% url 'user:myrepo' %}"><span class="material-icons-sharp md-36-person">
            person
          </span></a>
        {% else %}
        <a class="login" href="{% url 'user:login' %}"><span class="material-icons-sharp md-36-person">
            person
          </span></a>
        {% endif %}
      </div>
    </header>
    {% comment %} url 입력 밑 저장소 내용 {% endcomment %}
    <main>
      <div class="empty-content-div">
        <form id="url_input" class="url-input-form" method="POST" action="{% url 'test:firsturlpaste'%}"
          enctype="multipart/form-data">
          {% csrf_token %}


          <input class="no-input-box url-input" type="text" name="urladdress" maxlength="300" required=""
            id="id_urladdress" placeholder="Copy + Paste URL" />
          <div class="cursor-div">
            <span class="cursor"></span>
          </div>
        </form>
      </div>
    </main>

  </body>
  <script defer src="{% static 'js/repository.js' %}"></script>
  <script>
    if (`{{search}}` !== '')
      (function ($) {
        $(function () {
          $("#bpopup1").bPopup({
            speed: 0,
          });
        });
      })(jQuery);
  </script>

</html>