{% load i18n %} {%load static%}
<!DOCTYPE html>
<html lang="en" class="{%block backgraound_color%} {%endblock backgraound_color %}">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css" />
  <link rel="stylesheet" href="{% static 'css/styles.css'%}" />
  <link rel="stylesheet" href="{% static 'css/urlrepo.css'%}">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp" rel="stylesheet">
  <title>{{repository.title}} | URL repo</title>
</head>

<body>
  <header class="header-box">
    <a class="homelogo" href="{% url 'test:urlrepository' repository.pk%}">URL repo</a>
    <form class="search">
      <input class="header-search-input" type="text" name="search" maxlength="500" value="" autocomplete="off" />
      <button class="img-button" type="submit" name="click" value="">
        <span class="material-icons-sharp md-50">
          search
        </span>
      </button>
    </form>

    {% if user.is_authenticated %}
    <a href="{% url 'user:myrepo' %}"><span class="material-icons-sharp md-58">
        person
      </span></a>
    {% else %}
    <a class="login" href="{% url 'user:login' %}"><span class="material-icons-sharp md-58">
        person
      </span></a>
    {% endif %}
  </header>

  {% comment %} url 입력 밑 저장소 내용 {% endcomment %}
  <div class="repo-box">
    {% comment %} repo title {% endcomment %}
    <h3>
      <form class="repo-title-form" method="POST" action="{% url 'test:changeRepositoryTitle' repository.pk %}"
        enctype="multipart/form-data">
        {% csrf_token %}
        <input class="no-input-box repo-title" type="text" name="title" value="" maxlength="50" required=""
          id="id_title" placeholder="Repo title" />
      </form>
    </h3>
    <br />

    {% comment %} 각각의 web mark {% endcomment %}
    <div class="webmark-container">
      {% if repository.webmark.all %}
      {% for webmark in repository.webmark.all %}
      <div class="webmark-box">
        <div class="webmark-title-box">
          <form method="POST" action="{% url 'test:changeWebmarkTitle' repository.pk webmark.pk%}"
            enctype="multipart/form-data">
            {% csrf_token %}
            <input class="no-input-box webmark-title" type="text" name="title" maxlength="50" required=""
              value="{{webmark.title}}" id="id_title" />
          </form>
        </div>
        <div>
          <a class="delete-btn" href="{% url 'test:deleteWebmark' repository.pk webmark.pk %}">
            x</a>
        </div>
        <br />
        {% for url in webmark.url.all %}
        <div class="url-div">
          <div class="url-div-first">
            <div class="url-div-first-child flex1">
              <a class="url-title" href="{{url.urladdress}}" target="_blank"><span class="material-icons-sharp md-30">
                open_in_new
              </span></a>
            </div>
            <div class="url-div-first-child flex4">
              <form method="POST" action="{% url 'test:changeurltitle' repository.pk url.pk%}"
              enctype="multipart/form-data">
              {% csrf_token %}
              <input class="no-input-box url-title-input" type="text" name="urltitle" maxlength="100" required=""
                value="{{url.urltitle}}" id="id_urltitle" />
            </form>
            </div>
            <div class="url-div-first-child flex1">
              
                <span class="material-icons-sharp md-30">
                  arrow_drop_down
                  </span>
            </div>
            <div class="url-div-first-child flex1 ">
                <span class="material-icons-sharp md-30">
                  delete_outline
                </span>
            </div>
          </div>
          <div>
            <div class="tag-box">
              <form method="POST" action="{% url 'test:changedescription1' repository.pk url.pk%}"
                enctype="multipart/form-data">
                {% csrf_token %}
                <input class="no-input-box tag-title" type="text" name="description1" maxlength="100" required=""
                  value="{{url.description1}}" id="id_description1" />
              </form>
            </div>
          </div>
        </div>

        {% endfor %}
        <div class="add-url-div">
            <form method="POST" action="{% url 'test:addUrl' repository.pk webmark.pk%}" enctype="multipart/form-data">
              {% csrf_token %}
              <input class="no-input-box add-url" type="text" name="urladdress" maxlength="300" required=""
                id="id_urladdress" placeholder="Add url" />
            </form>
        <br />
        </div>
      {% endfor %}
      {% else %}
      <div>
        <form class="url-input-form" method="POST" action="{% url 'test:newUrl' repository.pk%}"
          enctype="multipart/form-data">
          {% csrf_token %}
          <input class="no-input-box url-input" type="text" name="urladdress" maxlength="300" required=""
            id="id_urladdress" placeholder="Copy + Paste URL" />
        </form>
      </div>
      <br />
      {% endif %}
    </div>
  </div>
</body>

</html>