{%extends "component/base.html"%}

{% block page_title%}
{{repository.title}}
{%endblock%}

{%block home_logo%}
<a href = "{% url 'test:urlrepository' repository.pk%}">URL repo</a> 
{%endblock home_logo %}

{% block main%}
<H3><form method="POST" action="{% url 'test:changeRepositoryTitle' repository.pk %}" enctype="multipart/form-data">
  {% csrf_token %} 
  <input type="text" name="title" maxlength="50" required="" value="{{repository.title}}" id="id_title">
  </form>
  </H3>
<br>

<form method="POST" action="{% url 'test:newUrl' repository.pk%}" enctype="multipart/form-data">
  {% csrf_token %} 
  <input type="text" name="urladdress" maxlength="300" required="" id="id_urladdress" placeholder="New url">
  </form>
<br>
{% for webmark in repository.webmark.all %}
    <form method="POST" action="{% url 'test:changeWebmarkTitle' repository.pk webmark.pk%}" enctype="multipart/form-data">
  {% csrf_token %} 
  <input type="text" name="title" maxlength="50" required="" value="{{webmark.title}}" id="id_title">
  </form>
  <a href="{% url 'test:deleteWebmark' repository.pk webmark.pk %}">
  delete webmark</a>
  <br>
    {% for url in webmark.url.all %}
        URL : <a href="{{url.urladdress}}" target='_blank'>{{url.urltitle}}</a>
        <a href="{% url 'test:deleteUrl' repository.pk url.pk %}">
  delete url</a>
        <form method="POST" action="{% url 'test:changedescription1' repository.pk url.pk%}" enctype="multipart/form-data">
        {% csrf_token %} 
          <input type="text" name="description1" maxlength="10" required="" value="#{{url.description1}}" id="id_description1">
          </form>
          
        {%if url.description1%}
        <form method="POST" action="{% url 'test:changedescription2' repository.pk url.pk%}" enctype="multipart/form-data">
        {% csrf_token %} 
          <input type="text" name="description2" maxlength="10" required="" value="#{{url.description2}}" id="id_description2">
          </form>
          {%if url.description2%}
          <form method="POST" action="{% url 'test:changedescription3' repository.pk url.pk%}" enctype="multipart/form-data">
        {% csrf_token %} 
          <input type="text" name="description3" maxlength="10" required="" value="#{{url.description3}}" id="id_description3">
          </form>
          {% endif %}
        {% endif %}
        
        <br>
    {% endfor %}

    <form method="POST" action="{% url 'test:addUrl' repository.pk webmark.pk%}" enctype="multipart/form-data">
  {% csrf_token %} 
  <input type="text" name="urladdress" maxlength="300" required="" id="id_urladdress" placeholder="Add url">
  </form>
    <br>
{% endfor %}
{%endblock%}