@font-face {
  font-family: "InfinitySans-BoldA1";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/InfinitySans-BoldA1.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

:root {
  background-color: white;
  margin: 0 auto;
  font-family: "InfinitySans-BoldA1";
}
blockquote {
  border-radius: 30px;
  padding: 20px;
  box-shadow: 10px 5px 5px gray;
}

blockquote input {
  width: 500px;
}

.mysection {
  width: fit-content;
  margin: 0 auto;
}

.urls {
  display: flex;
  flex-direction: row;
  width: 400px;
  height: 60px;
}

.urlstitle:hover {
  background-color: #2e3e99;
}

.urlstitle:hover > .my-repo-title {
  color: white;
}

.urlstitle {
  width: 100%;
  align-items: center;
  background-color: #c1c5e1;
  border-radius: 20px;
  margin: 5px 0;
  text-align: center;
  font-size: 20px;
  cursor: pointer;
  display: flex;
  transition: all 0.5s;
}

.urlsdelete {
  width: 5%;
  margin-left: 20px;
  margin-top: auto;
  margin-bottom: auto;
  line-height: 50px;
  cursor: pointer;
}

.my-repo-title {
  text-decoration: none;
  color: #2e3e99;
  padding: 25px;
  font-weight: bold;
}

.no-input-box {
  border: none;
}
.no-input-box:focus {
  outline: none;
  transition: all 0.5s;
}

.url-input {
  color: rgba(46, 62, 153, 1.0);
  font-size: larger;
  width: 491px;
  height: 24px;
  padding: 20px;
  display: block;
  margin: auto;
}
.url-input::placeholder {
  color: rgba(46, 62, 153, 0.7);
  text-align: center;
  font-weight: 500;
}
.url-input-form {
  display: flex;
  margin: 100px auto;
}
.repo-title-form {
  width: 100%;
}
.repo-title {
  width: 100%;
  color: rgba(46, 62, 153, 1.0);
  font-size: 47px;
  font-weight: bold;
  border-radius: 10px;
}
.repo-title::placeholder {
  color: rgba(46, 62, 153, 0.7);
}

.repo-title:focus {
  box-shadow: none;
}

.repo-box {
  width: 1000px;
  height: 500px;
  margin-left: auto;
  margin-right: auto;
}

.webmark-container {
  flex-wrap: wrap;
}
.webmark-box {
  box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.14), 0px 6px 30px rgba(0, 0, 0, 0.12), 0px 8px 10px rgba(0, 0, 0, 0.2);
  width: 48%;
  margin: 1%;
  border-bottom: 2.5mm solid #2e3e99;
}

.webmark-title {
  font-size: larger;
  font-weight: bold;
  background-color: #2e3e99;
  color: white;
  text-align: center;
  width: auto;
  height: 40px;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  padding: 10px;
}

.webmark-title-box {
  display: flex;
  align-items: center;
}
.delete-btn {
  text-decoration: none;
  margin-left: 5px;
  font-size: 20px;
  font-weight: normal;
  transition: all 0.5s;
  padding: 6px;
}
.delete-btn:hover {
  font-weight: bold;
}

.delete-btn-small {
  text-decoration: none;
  margin-left: 5px;
  font-size: 15px;
  font-weight: normal;
  transition: all 0.5s;
  padding: 6px;
}
.delete-btn-small:hover {
  font-weight: bold;
}
.url-div {
  display: flex;
  flex-direction: column;
}

.url-div-first {
  display: flex;
  flex-direction: row;
}
.url-div-first-child {
  display: flex;
  align-items: center;
}

.material-icons-sharp.md-30 {
  font-size: 30px;
  color: #2E3E99
}

.url-title {
  text-decoration: none;
  color: #2e3e99;
  margin-left: 5%;
  flex: 1;
}

.url-title-input {
  width: 350px;
  height: 20px;
  color:#2E3E99;
  font-size: 16px;
  flex: 4;
}

.url-toggle{
  flex: 1;
}

.url-delete {
  text-decoration: none;
  margin-left: 7px;
  flex: 1;
}

.tag-title {
  font-size: small;
  color:#2e3e99;
  text-align: center;
  width: 70px;
}


.tag-box {
  width: 100%;
  flex: 6;
}

.add-url-div {
  width: 100%;
  display: flex;
}

.add-url {
  background-image: url('static/image/sharp_add_circle_black_24dp.png');
  background-color: #2E3E99;
  font-weight: bold;
  font-size: large;
  width: 5px;
  color:#fff;
  border-radius: 35px;
  padding: 10px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

.add-url:focus {
  box-shadow: none;
  width: 70%;
}

.add-url::placeholder {
  color:#ffffff;
  text-align: center;
}

.page-title-box {
  display: flex;
}
.page-title {
  margin-left: auto;
  margin-right: auto;
  font-size: xxx-large;
  font-weight: bolder;
  color: white;
}
.my-repo-white {
  background: linear-gradient(to right, #ffffff, #f0f0f0);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-decoration: none;
  font-size: 40px;
  font-family: "InfinitySans-BoldA1";
  padding: 15px;
}
.white {
  color: white;
}
.my-repo-backgraound {
  background-color: #2e3e99;
}

.header-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.homelogo {
  background: linear-gradient(to right, #2e3e99, #78bfe7);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-decoration: none;
  font-size: 40px;
  font-family: "InfinitySans-BoldA1";
  padding: 15px;
}

.create_account {
  background-color: #2e3e99;
  border: none;
  color: white;
  padding: 10px 90px;
  text-align: right;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  margin-top: 100px;
  cursor: pointer;
  border-radius: 60px;
}

.signup_button {
  background-color: white;
  border: none;
  color: #2e3e99;
  padding: 10px 90px;
  text-align: right;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  margin-bottom: 10px;
  cursor: pointer;
  border-radius: 60px;
}

.login_button {
  background-color: white;
  border: none;
  color: #2e3e99;
  padding: 10px 90px;
  text-align: right;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  margin-top: 100px;
  margin-bottom: 10px;
  cursor: pointer;
  border-radius: 60px;
}

.header-search-input {
  border: none;
  outline: none;
  background: transparent;
  width: 800px;
  color: #2e3e99;
  font-size: 1.063rem;
  padding: 10px;
  margin: 10px;
  border-bottom: 2px solid;
  border-radius: 20px;
  border-image: linear-gradient(to right, #2e3e99, #78bfe7);
  border-image-slice: 1;
}

button.img-button {
  border: none;
  background: transparent;
  margin: 15px;
  margin-left: 0px;
  padding: 10px;
  padding-left: 0px;
}

.material-icons-sharp.md-50 {
  font-size: 50px;
  color: #2E3E99
  
}

.material-icons-sharp.md-58 {
  font-size: 58px;
  color: #2E3E99
  
}


.logout {
  font-size: 15px;
  background: linear-gradient(to right, #2e3e99, #78bfe7);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-right: 15px;
  display: flex;
  flex-direction: column;
}


img {
  width: 50px;
  display: block;
  padding: 15px;
  margin: 0px;
}

.w-full {
  display: block;
  width: 200px;
  margin: 100px auto;
  border: none;
  padding: 15px;
}

div.login_left {
  width: 50%;
  height: 700px;
  float: left;
  box-sizing: border-box;
  background: white;
  display: flex;
}

.login-left-box {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.login-left-mention {
  background: linear-gradient(to right, #2e3e99, #78bfe7);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.login-under-bar {
  width: 30%;
  border-bottom: 2px solid #2e3e99;
}

.login-under-bar-white {
  width: 30%;
  border-bottom: 2px solid #ffffff;
}

div.signup_left {
  width: 50%;
  height: 700px;
  float: left;
  box-sizing: border-box;

  background: #2e3e99;
}

div.login_right {
  width: 50%;
  height: 700px;
  float: right;
  box-sizing: border-box;

  background: #2e3e99;
  display: flex;
  justify-content: center;
}

div.signup_right {
  width: 50%;
  height: 700px;
  float: right;
  box-sizing: border-box;
  background: white;
}
