.webmark-container {
    flex-wrap: wrap;
}
.webmark-box {
    box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.14), 0px 6px 30px rgba(0, 0, 0, 0.12), 0px 8px 10px rgba(0, 0, 0, 0.2);
    width: 48%;
    margin: 1%;
    border-bottom: 2.5mm solid #2e3e99;
}

.webmark-title {
    font-size: larger;
    font-weight: bold;
    background-color: #2e3e99;
    color: white;
    text-align: center;
    width: auto;
    height: 40px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    padding: 10px;
}

.webmark-title-box {
    display: flex;
    align-items: center;
}
.delete-btn {
    text-decoration: none;
    margin-left: 5px;
    font-size: 20px;
    font-weight: normal;
    transition: all 0.5s;
    padding: 6px;
    }
.delete-btn:hover {
    font-weight: bold;
}

.delete-btn-small {
    text-decoration: none;
    margin-left: 5px;
    font-size: 15px;
    font-weight: normal;
    transition: all 0.5s;
    padding: 5px;
}
.delete-btn-small:hover {
    font-weight: bold;
}

.flex1{
    flex: 1;
}
.flex4{
    flex: 4;
}
.flex6{
    flex: 6;
}

.url-div {
    display: flex;
    flex-direction: column;
}

.url-div-first {
    display: flex;
    flex-direction: row;
    }
.url-div-first-child {
    display: flex;
    align-items: center;
    justify-content: center;
}

.material-icons-sharp.md-30 {
    font-size: 30px;
    color: #2E3E99;
}

.url-title {
    text-decoration: none;
    color: #2e3e99;
    margin-left: 5%;
    align-items: center;
    justify-content: center;
}

.url-title-input {
    width: 350px;
    height: 20px;
    color:#2E3E99;
}

.url-delete {
    text-decoration: none;
    margin-left: 7px;
}

.url-div-second {
    display: flex;
    flex-direction: row;
}
.url-div-second-child {
    display: flex;
    align-items: center;
    justify-content: center;
}

.tag-title {
    font-size: small;
    color:#2e3e99;
    text-align: center;
    width: 100%;
}

.add-url-div {
    display: flex;
    flex-direction: row;
}

.add-url-div-child {
    flex-direction: row-reverse;
}

.add-url {
    background-color: #2E3E99;
    font-weight: bold;
    font-size: large;
    width: 5px;
    color:#fff;
    border-radius: 35px;
    padding: 10px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

.add-url:focus {
    box-shadow: none;
    width: 70%;
}

.add-url::placeholder {
    color:#ffffff;
    text-align: center;
}
