{% load i18n %}
{%load static%}
<!DOCTYPE html>
<html lang="en" class="{%block backgraound_color%} {%endblock backgraound_color %}">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
   <link rel="stylesheet" href="{% static 'css/styles.css'%}">
   <title>{%block page_title%}기본 {%endblock page_title %} | URL repo
   </title>
</head>

<body >
   <header class="header-box">
   {%block home_logo%}<a class="homelogo" href="{% url 'test:home'%}">
      <img class="logo" src ="{% static 'image/logo-blue.png' %}" width=15% alt ="home"/></a>{%endblock home_logo %}

   <form class="search">
      <input  class=" header-search-input " type="text" name="search" maxlength= 500 value="" autocomplete="off">
      
      <button class="img-button" type="submit" name="click" value="">
         <i class="fas fa-search"></i>
      </button>
      
   </form>

   {% if user.is_authenticated %}
    {%block userbutton%}<a href = "{% url 'user:myrepo' %}"><i class="profile-logo fas fa-user-circle"></i></a>  {%endblock userbutton %}
       
    {% else %}
       <a class="login" href = "{% url 'user:login' %}"><i class="profile-logo fas fa-user-circle"></i></a> 
    {% endif %}



   </header> 
   {%block main%}{%endblock main %}
</body>